@using Solemart.DataProvider;
@using Solemart.DataProvider.Entity;
@using Solemart.Web.Models;
@model ProductListViewModel

<div class="section">
    <div class="p-section">
        <ul class="p-list">
            @foreach (ProductForListViewModel product in Model.ProductList)
            {
                <li id="product_@product.ProductID">
                    <div class="p-list-shot">
                        <p>
                            <a href="/Product/Detail/@product.ProductImageUrl"></a>
                            @if (product.IsSpecial || product.Discount != 100)
                            {
                                <img class="spec_price" src="/images/spec-price.png" />
                                if (product.IsSpecial)
                                {
                                    <span class="spec_price attention">特价</span>
                                }
                                if (product.Discount != 100)
                                {
                                    <span class="spec_price attention">@(product.Discount / 10)折</span>
                                }
                            }
                        </p>
                    </div>
                    <div class="p-list-info">
                        <p class="prod-title">
                            <span class="ellipsis" title="@product.ProductName">@product.ProductName</span>
                        </p>
                        <span>
                            @if (product.Discount != 100)
                            {
                                <span class="past_price">@product.Price.ToString("C2")</span>
                                <span>@((product.Price * product.Discount / 100).ToString("C2"))</span>
                            }
                            else
                            {
                                <span>@product.Price.ToString("C2")</span>
                            }
                            /@product.Unit
                        </span>
                        @if (product.IsOutOfStock)
                        {
                            <p class="no_available">缺货，只可预订</p>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
