@using Solemart.DataProvider;
@using Solemart.DataProvider.Entity;
@using Solemart.Web.Models;
@model ProductListViewModel

@Html.Partial("TopAppNav")
<div class="searchBar">
    <div class="logoArea">
        <a href="/"><img class="logo_img" src="/Images/ledao64.png" /></a>
    </div>
    @*<div class="searchBox">
        <input type="text" placeholder="产品名称" id="txtSearch" />
        <input type="button" class="comm_btn" onclick="javascript: search_product();" title="search" value="搜索" />
    </div>*@
</div>
<div class="good" id="good"></div>
<div class="productListWrapper">
    <ul class="productList">
        @foreach (ProductForListViewModel product in Model.ProductList)
        {
            <li id="product_@product.ProductID" class="productItem">
                <div class="productImage">
                    <a href="/Product/Detail/@product.ProductID" title="查看水果详情"><img class="productImg" style="width:90%;" src="/Images/product/normal/@product.ProductImageUrl" /></a>
                    <a class="addToCart" data-pid="@product.ProductID" href="javascript:void;">买</a>
                </div>
                <div class="productInfo">
                    <p class="productTitle">
                        <span class="ellipsis" title="@product.ProductName">@product.ProductName</span>
                    </p>
                    <p class="productPrice">
                        <span>@product.Price.ToString("C2")</span>/@product.Unit
                    </p>
                    @*@if (product.IsOutOfStock)
                    {
                        <p class="noAvailable">缺货，只可预订</p>
                    }*@
                </div>
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $("ul.productList").on("click", "li a.addToCart", function () {
            $.post("/Cart/Add/" + $(this).data("pid"),
                {},
                function (result) {
                    var ret = new WebReturn(result);
                    if (!ret.success) {
                        alert(ret.message);
                        return;
                    }

                    var retData = JSON.parse(ret.content);
                    var indicator = $(".roundIndicator");
                    indicator.show();
                    indicator.html(retData.TotalCount);

                    $('.good').css({"top":$(this).css("top"),"animation-name": "flyToCart", "animation-duration": "1s" });

                    setTimeout(function () {
                        $('.good').css({ "animation-name": "", "animation-duration": "" });
                    }, 1000)

                });
        })
    })
</script>