@using Solemart.DataProvider;
@using Solemart.DataProvider.Entity;
@using Solemart.Web.Models;
@model ProductListViewModel

@Html.Partial("TopAppNav")
<div class="productListWrapper">
    <ul class="productList">
        @foreach (ProductForListViewModel product in Model.ProductList)
        {
            <li id="product_@product.ProductID" class="productItem">
                <div class="productImage">
                    <a href="/Product/Detail/@product.ProductID" title="查看水果详情"><img class="productImg" style="width:90%;" src="/Images/product/normal/@product.ProductImageUrl" /></a>
                    <a class="addToCart" data-pid="@product.ProductID" href="javascript:void;"><img src="~/Images/common/add_to_shopping_cart_small.png" title="购买" /></a>
                </div>
                <div class="productInfo">
                    <p class="productTitle">
                        <span class="ellipsis" title="@product.ProductName">@product.ProductName</span>
                    </p>
                    <p class="productPrice">
                        <span>@product.Price.ToString("C2")</span>/@product.Unit
                    </p>
                    @if (product.IsOutOfStock)
                    {
                        <p class="no_available">缺货，只可预订</p>
                    }
                </div>
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $("ul.productList").on("click", "li a.addToCart", function () {
            $.post("/Cart/Add/" + $(this).data("pid"),
                {},
                function (result) {
                    var ret = new WebReturn(result);
                    if (!ret.success)
                        alert(ret.message);
                });
        })
    })
</script>