@using Solemart.DataProvider;
@using Solemart.DataProvider.Entity;
@using Solemart.Web.Models;
@model ProductListViewModel

@Html.Partial("TopAppNav")
<div class="searchBar">
    @*<div class="searchBox">
        <input type="text" placeholder="产品名称" id="txtSearch" />
        <input type="button" class="comm_btn" onclick="javascript: search_product();" title="search" value="搜索" />
    </div>*@
</div>
<div class="good" id="good"></div>
<div class="productListWrapper">
    <div class="topProductList">
        @foreach (ProductForListViewModel product in Model.TopSaledProductList)
        {
            <div class="productItem" data-pid="@product.ProductID">
                <div class="productImage">
                    <a href="/Product/Detail/@product.ProductID" title="查看水果详情"><img class="productImg" style="width:90%" src="~/Images/product/normal/@product.ProductImageUrl" /></a>
                </div>
                <div class="productInfo" data-pid="@product.ProductID">
                    <p class="productTitle">
                        <span class="titleSpan ellipsis" title="@product.ProductName">@product.ProductName</span>
                        <a class="addToCart" data-pid="@product.ProductID" href="javascript:void;"></a>
                    </p>
                    <p class="productPrice">
                        <span>@product.Price.ToString("C2")</span>/@product.Unit
                    </p>
                    <p class="productSpec">@product.Specification</p>
                </div>
            </div>
        }
    </div>
    <ul class="product2List">
        @foreach (ProductForListViewModel product in Model.NormalProductList)
        {
            <li id="product_@product.ProductID" class="productItem product2Item">
                <div class="product2Image">
                    <a href="/Product/Detail/@product.ProductID" title="查看水果详情"><img class="productImg" style="width:90%;" src="/Images/product/normal/@product.ProductImageUrl" /></a>
                </div>
                <div class="productInfo" data-pid="@product.ProductID">
                    <p class="productTitle">
                        <span class="titleSpan ellipsis" title="@product.ProductName">@product.ProductName</span>
                        <a class="addToCart" href="javascript:void;"></a>
                    </p>
                    <p class="productPrice">
                        <span>@product.Price.ToString("C2")</span>/@product.Unit
                    </p>
                    <p class="productSpec">@product.Specification</p>
                </div>
            </li>
        }
    </ul>
</div>
<div class="successNotify" style="display:none;">操作成功...</div>
<script type="text/javascript">
    $(function () {
        $(".productInfo").bind("click", "a.addToCart", function (e) {
            e.preventDefault();

            $(".successNotify").html("操作中...");
            $(".successNotify").show();
            $.post("/Cart/Add/" + $(this).data("pid"),
                {"addition":"parameter"},
                function (result) {
                    var ret = new WebReturn(result);
                    if (!ret.success) {
                        alert(ret.message);
                        return;
                    }

                    $(".successNotify").html("操作成功");
                    $(".successNotify").hide(1000);

                    var retData = JSON.parse(ret.content);
                    var indicator = $(".roundIndicator");
                    //indicator.show();
                    indicator.html(retData.TotalAmount);

                    //$('.good').css({"top":$(this).css("top"),"animation-name": "flyToCart", "animation-duration": "1s" });

                    //setTimeout(function () {
                    //    $('.good').css({ "animation-name": "", "animation-duration": "" });
                    //}, 1000)

                });
        })
    })
</script>