@using Solemart.DataProvider.Entity;
@using Solemart.BusinessLib;

@model Solemart.Web.Models.ProductDetailViewModel

@{
    ViewBag.Title = Model.ProductName;    
    //int AverageLevel = 5;
    int TotalCount = 0;
    IList<ProductCommentItem> Comments = ProductManager.GetProductComment(Model.ProductID, 0, 10, out TotalCount);
}

@Html.Partial("TopAppNav")
<div class="productDetail">
    <h2>@Model.ProductName</h2>

    @*<div class="vote_area">
        <span class="comment_star" title="@AverageLevel 星">
            <a href="javascript:;" class="star_@AverageLevel"></a>
            <a href="javascript:;" class="no_star"></a>
        </span>
        <a href="#">@Model.CommentCount 个评论</a>
    </div>*@

    <div class="imageWrapper" id="imageWrapper">
        <div class="scroller">
            @foreach(ProductImageItem img in Model.Images){
                <img class="mainImg" src="/images/product/normal/@img.ImageUrl " />
            }
        </div>
    </div>

    <div class="product_info" id="productDescription">
        @Html.Raw(@Model.ProductDescription)
    </div>

    @*<div class="customer_comment" id="customer_comments">
        <h2 class="subTitle">客户评价：</h2>
        <div class="review_head r">
            <div class="comm_btn" onclick="javascript:write_comment_fun(this);">
                <a href="javascript:void(0);">写评论...</a>
            </div>
        </div>
        <div id="write_comment">
            星级:
            <span class="comment_star">
                <a href="javascript:;" class="star_1" title="1星"></a>
                <a href="javascript:;" class="star_2" title="2星"></a>
                <a href="javascript:;" class="star_3" title="3星"></a>
                <a href="javascript:;" class="star_4" title="4星"></a>
                <a href="javascript:;" class="star_5" title="5星"></a>
            </span>
            <textarea placeholder="这里写上您的评论"></textarea>
        </div>
        <div id="comments-list">
            @foreach(ProductCommentItem comment in Comments){ 
            <div class="review_item">
                <h3>
                    <em>@(comment.UserItem.UserName)</em><span>先生:</span>
                    <span class="comment_star" title="@((int)(comment.Grade))  星">
                        <a href="javascript:;" class="star_@((int)(comment.Grade)) "></a>
                        <a href="javascript:;" class="no_star"></a>
                    </span>
                </h3>
                <p class="r">@comment.CommentTime.ToShortDateString()  @comment.CommentTime.ToShortTimeString() </p>
                <p class="content">@comment.Content </p>
            </div>
            } 
        </div>
    </div>*@
    
</div>
<div class="bottomShoppingCart">
    <p class="amountText">
        <span>@Model.Price.ToString("C2")/@Model.Unit </span>
    </p>
    <div class="bottomNav">
        <a class="backLink" href="/">&lt;</a>
        <a href="javascript:void;" data-action="add" class="addSubButton">+</a>
        <input type="text" value="@ViewBag.CartItem" />
        <a href="javascript:void;" data-action="sub" class="addSubButton">-</a>
    </div>
</div>
<script type="text/javascript">
    var star_level = 5; //默认的评价级别
    var cur_pid = @Model.ProductID ;

    function updateShoppingCartIndicator(content){
        var retData = JSON.parse(content);
        var indicator = $(".roundIndicator");
        //if(retData.TotalCount != ""){
        //    indicator.show();
            indicator.html(retData.TotalAmount);

            //$('.good').css({"top":$(this).css("top"),"animation-name": "flyToCart", "animation-duration": "1s" });

            //setTimeout(function () {
            //    $('.good').css({ "animation-name": "", "animation-duration": "" });
            //}, 1000)
        //}
        //else{
        //    indicator.hide();
        //}
    }

    $(function () {
        //var myScroll = new IScroll('#imageWrapper', {
        //    scrollX: true,
        //    scrollY: false,
        //    mouseWheel: true,
        //    scrollbars: false
        //});

        $(".bottomNav a.addSubButton").bind("click", function(e){
            e.preventDefault();
            var input = $(".bottomNav input");
            var count = parseInt(input.val());

            if($(this).data("action") == "add"){
                $.post("/Cart/Add/" + @Model.ProductID,
                    {},
                    function (result) {
                        var ret = new WebReturn(result);
                        if (!ret.success)
                            alert(ret.message);
                        else{
                            input.val(1+count);
                            updateShoppingCartIndicator(ret.content);
                        }
                    });
            }
            else if(count == 0)
                return;
            else if($(this).data("action") == "sub"){
                $.post("/Cart/Modify/" + @Model.ProductID,
                    {
                        amount:count-1
                    },
                    function (result) {
                        var ret = new WebReturn(result);
                        if (!ret.success)
                            alert(ret.message);
                        else{
                            input.val(count-1);
                            updateShoppingCartIndicator(ret.content);
                        }
                    });
            }
        });
        //$("#write_comment").hide();

        //$("#write_comment .comment_star a").mouseenter(function () {
        //    $(this).nextAll().css("background-position", "left bottom");
        //    $(this).prevAll().css("background-position", "left top");
        //    $(this).css("background-position", "left top");
        //});

        //$("#write_comment .comment_star a").click(function () {
        //    star_level = this.className.substring(5, 6);
        //});

        //$("div.review_item .comment_star").children(function () {
        //    var grade = $(this).attr("title").substr(0, 1);
        //    var star = $(this).children(".star_" + grade);
        //    star.nextAll().css("background-position", "left bottom");
        //    star.prevAll().css("background-position", "left top");
        //    star.css("background-position", "left top");
        //});
    });


    /*
    function show_image(url, src) {
        $("#main_img").attr("src", '/images/product/normal/' + url);
        $("div.thumb_area a.active").removeClass("active");
        $(src).addClass("active");
    }

    function write_comment_fun(btn) {
        var status = $(btn).children("a").html();
        if (status == "写评论...") {
            $("#write_comment").show();
            $(btn).children("a").html("提交");
        }
        else {
            var txtinput = $("#write_comment textarea");
            var content = txtinput.val();
            if ($.trim(content) == "") {
                alert("无信息提交无效!");
                return;
            }

            $.post("/Product/PostComment/"+cur_pid,
                {
                    level: star_level,
                    cnt: content
                },
                function (result) {
                    var comment = eval(result);
                    if (comment.IsSuccess) {
                        var html = "<div class='review_item newline'><h3>";
                        html += "<em>" + comment.Name + "</em><span>先生:</span>";
                        html += "<span class='comment_star' title='" + comment.Level + " 星'>";
                        html += "<a href='javascript:;' class='star_" + comment.Level + "'></a>";
                        html += "<a href='javascript:;' class='no_star'></a></span></h3>";
                        html += "<p class='r'>" + comment.Time + "</p>";
                        html += "<p class='content'>" + comment.Content + "</p></div>";

                        $(html).insertBefore($("div#comments-list").children().first());
                    }
                    else
                        alert(comment.Message);
                });

            $(btn).children("a").html("写评论...");
            txtinput.val("");
            $("#write_comment").hide();
        }
    }
    */

    /*
    function addtofavorite(pid) {
        var is_authenticate = false;
        $.post("/Home/IsAuthenticate", {},
            function (result) {
                is_authenticate = (result == "ok");

                if (!is_authenticate) {
                    alert("你需要注册后，才能进行收藏！");
                    window.location.href = "/Home/Register";
                    return;
                }

                $.post("/Account/AddToFovarite/" + pid, {},
                    function (result) {
                        if (result == "ok")
                            alert("收藏成功，您可以在收藏夹中查看");
                        else
                            alert("收藏失败!系统问题，我们会进行处理");
                    });
            });
    }
    */
</script>