@{
    ViewBag.Title = "产品 - 叟玛特";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Solemart.DataProvider.Entity;
@using Solemart.Web.Models;
@model ProductListViewModel

<div class="product_content">
    @Html.Partial("_CateList")

    <div id="product_list">
        @*<ul class="l">
            @foreach (ProductForListViewModel product in Model.ProductList) {
            <li class="product @((i+1)%3==0?"rightmost":"" )" data-pid="@product.ProductID" id="product_@product.ProductID">
                <div class="product_list_shot">
                    <p>
                        <a href="/Product/Detail/@product.ProductID">
                            <img src="@product.ProductImageUrl" alt="@product.ProductName" />
                        </a>
                        @if(product.IsSpecial || product.Discount != 100){
                        <img class="spec_price" src="/images/spec-price.png" />
                            if (product.IsSpecial)
                            {
                        <span class="spec_price attention">特价</span>
                        }
                        if(product.Discount!= 100){
                        <span class="spec_price attention">@(product.Discount/10)折</span>
                        }
                        }
                    </p>
                </div>
                <div class="product_list_info">
                    <p class="product_name">
                        <span>@product.ProductName</span>
                    </p>
                    <span>
                        @if (product.Discount != 100) {
                        <span  class="past_price">@product.Price.ToString("C2")</span>
                        <span>@((product.Price*product.Discount/100).ToString("C2"))</span>
                        }else{
                        <span>@product.Price.ToString("C2")</span>
                        }
                        /@product.Unit
                    </span>
                    <p class="product_desc ellipsis" title="@product.ProductName">@product.ProductName</p>
                    @if (product.IsOutOfStock) {
                    <p class="no_available">缺货，只可预订</p>
                    }
                </div>
                <div>
                    <a class="comm_btn" data-pid="@product.ProductID" href="javascript:void;">Add to Cart</a>
                </div>
            </li>
            }
        </ul>*@

        @Html.Partial("_Pager")
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#product_list").on("click", "li a.comm_btn", function () {
            $.post("/Cart/Add/" + $(this).data("pid"),
                {},
                function (result) {
                    alert(result);
                });
        })
    })
</script>