@using Xxx.EntityLib;
@model   Xxx.EntityLib.User

@{
    ViewBag.Title = "我的账户 —— 叟玛特";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_style{
    <link rel="stylesheet" href="/Content/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/Content/u_account.css" />
}

@section header_script{
    <script type="text/javascript" src="/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/Scripts/commutil.js"></script>
    <script type="text/javascript" src="/Scripts/pages/um/account.js"></script>
}

<div class="account">
    <div class="basic">
        <h3>基本资料</h3>
        <ul>
            <li>
                <span class="ur_title">用户名:</span>
                <span class="ur_value">@Model.Name</span>
                @if(Model.LoginType== LoginType.QQ){
                <img src="/images/common/edit.png" id="uname" title="修改用户名" />
                <span class="err_tip" id="err_for_uname">用户名已经被占用，不能使用!</span>
                }
            </li>
            <li>
                <span class="ur_title">密码</span>
                <span class="ur_value">*****</span>
                <img src="/images/common/edit.png" id="pwd" title="修改密码" />
            </li>
            <li>
                <span class="ur_title">Email地址:</span>
                <span class="ur_value">@Model.Email</span>
                <img src="/images/common/edit.png" id="email" title="编辑" />
                <span class="err_tip" id="err_for_email">Email地址不合法</span>
            </li>
        </ul>
    </div>

    <div class="extend">
        <h3>其他资料</h3>
        <ul>
            <li>
                <span class="ur_title">住址:</span>
                <span class="ur_value">@((Model.AppendInfo == null) ? "" : Model.AppendInfo.Address)</span>
                <img src="/images/common/edit.png" id="address" title="编辑" />
            </li>
            <li>
                <span class="ur_title">电话号码:</span>
                <span class="ur_value">@((Model.AppendInfo == null) ? "" : Model.AppendInfo.Phone1)</span>
                <img src="/images/common/edit.png" id="phone1" title="编辑" />
                <p class="err_tip" id="err_for_phone1">电话号码不符合规范</p>
            </li>
            <li>
                <span class="ur_title">出生日期:</span>
                <span class="ur_value">@((Model.AppendInfo == null) ? "" : Model.AppendInfo.BirthDate.ToLongDateString())</span>
                <img src="/images/common/edit.png" id="birthday" title="编辑" />
            </li>
            <li>
                <span class="ur_title">性别:</span>
                <span class="ur_value">@((Model.AppendInfo == null) ? "" : Model.AppendInfo.Sex.GetStringValue())</span>
                <img src="/images/common/edit.png" id="sex" title="编辑" />
            </li>
        </ul>
    </div>
</div>
<div id="pwd_dialog" class="ui-widget dlg_comm" title="密码修改">
    <p class="validateTips">旧密码不正确, 如果忘记可以使用找回密码</p>
    <fieldset>
        <label for="oldpwd">请输入旧密码</label>
        <input type="password" id="oldpwd" />
        <span class="err_tip" id="err_for_oldpwd">旧密码不能为空</span>
        <label for="newpwd">新密码</label>
        <input type="password" id="newpwd" />
        <span class="err_tip" id="err_for_newpwd">新密码不能小于6个字符</span>
        <label for="newpwdcnf">新密码确认</label>
        <input type="password" name="newpwdcnf" id="newpwdcnf" />
        <span class="err_tip" id="err_for_newpwdcnf">两次输入不一致！</span>
    </fieldset>
</div>