@using Solemart.DataProvider.Entity;
@model Solemart.Web.Areas.Manager.Models.ProductManagerViewModel

@{
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<h1>查看货品列表:</h1>

<p class="search_area">
    <input type="text" id="prodct_name" />
    <input type="button" class="comm_btn" id="dosearch" value="搜索" />
</p>

@Html.Partial("_Pager")

<table class="m">
    <thead>
        <tr>
            <th>ID</th>
            <th>类别</th>
            <th>名称</th>
            <th>折扣</th>
            <th>特价</th>
            <th>上架价格</th>
            <th>规格</th>
            <th>说明</th>
            <th class="edit_th">编辑</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ProductList.Count > 0)
        {
            foreach (ProductItem product in Model.ProductList)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.Category.CategoryName</td>
                    <td>@product.ProductName</td>
                    @if (product.SaledProduct != null)
                    {
                        <td>@(product.SaledProduct.Discount + "%")</td>
                        <td>@(product.SaledProduct.SpecialFlag ? "是" : "否")</td>
                        <td>@(product.SaledProduct.Price.ToString("C2"))</td>
                    }
                    else
                    {
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    }
                    <td><span class="prod_text ellipsis" title="@product.Specification">@product.Specification</span></td>
                    <td><span class="prod_text ellipsis" title="@product.Description">@product.Description</span></td>
                    <td>
                        <a href="/Manager/Product/Modify/@product.ProductID">修改</a>
                        <a href="/Manager/Product/InStock/@product.ProductID">入库</a>
                        @if (product.SaledProduct != null)
                        {
                            <a href="javascript:void(0);" onclick="modisaling(@product.ProductID);">修改上架</a>
                            <a href="javascript:void(0);" onclick="getbacksaling(@product.ProductID)">下架</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" onclick="puttosaling(@product.ProductID);">上架</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9">没有商品</td>
            </tr>
        }
    </tbody>
</table>

<div id="edit_putto_saling">
    <h3>商品上架</h3>
    <fieldset>
        <ol>
            <li>
                <label for="putto_sale_pid">商品ID</label>
                <input type="text" id="putto_sale_pid" disabled="disabled" />
            </li>
            <li>
                <label for="putto_sale_discount">销售折扣</label>
                <input type="text" id="putto_sale_discount" value="100" />
                <p class="fNote">100表示不打折扣</p>
            </li>
            <li>
                <label for="putto_sale_price">销售定价</label>
                <input type="text" id="putto_sale_price" />
                <span>推荐定价:</span><span id="recommend_price"></span>
                <p class="fNote">实际的销售价格是本价格和折扣的乘积</p>
            </li>
            <li>
                <label for="putto_sale_specprice">是否特价</label>
                <input type="checkbox" id="putto_sale_specprice" />
            </li>
            <li>
                <label><a onclick="puttosaleok();" href="javascript:void(0);" class="comm_btn">确定</a></label>
            </li>
        </ol>
    </fieldset>
</div>

<script type="text/javascript">
    function puttosaling(pid) {
        $("#edit_putto_saling").toggle();
        $("#putto_sale_pid").val(pid);
        $.post("/Manager/Product/GetLastStockPrice/" + pid, {},
            function (result) {
                $("#edit_putto_saling").css("display", "block");
                $("#edit_putto_saling #putto_sale_pid").val(pid);
                $("#edit_putto_saling #recommend_price").html(result);
            });
    }

    function modisaling(pid) {
        $.post("/Manager/Product/GetLastStockPrice/" + pid, {},
            function (result) {
                $("#edit_putto_saling").css("display", "block");
                $("#edit_putto_saling #putto_sale_pid").val(pid);
                $("#edit_putto_saling #recommend_price").html(result);
            });
    }

    function getbacksaling(pid) {
        $.post("/Manager/Product/GetBackSaling/" + pid, {},
            function (result) {
                if (result == "ok")
                    window.location.reload();
                else
                    alert(result);
            });
    }

    function puttosaleok() {
        $.post("/Manager/Product/PutToSaling",
            {
                ProductID: $("#putto_sale_pid").val(),
                Discount: $("#putto_sale_discount").val(),
                Price: $("#putto_sale_price").val(),
                SpecialFlag: $("#putto_sale_specprice").is(":checked")
            },
            function (result) {
                var ret = new WebReturn(result);
                if (ret.success)
                    window.location.reload();
                else
                    alert(ret.message);
            });
    }
</script>