@{
    ViewBag.Title = "管理电子书——叟玛特";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

@section header_style_manager{
    <link rel="stylesheet" href="/Content/jquery-ui-1.10.3.custom.min.css" />
}

<h2>Acknowledge</h2>
<p class="search_area">
    <input type="text" id="brand_name" />
    <input type="button" class="comm_btn" id="dosearch" value="搜索" />
</p>
<section>
    <button class="comm_btn" onclick="javascript:new_brand()" >新建</button>
</section>
<div class="pager"></div>
<table class="m">
    <thead>
        <tr>
            <th style="width:20px">ID</th>
            <th style="width:300px">名称(中)</th>
            <th style="width:200px;">类型</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BrandInfo brand in Model) {
        <tr>
            <td>@brand.BrandID</td>
            <td>@brand.Name</td>
            <td>@brand.EnName</td>
            <td>@brand.Description</td>
            <td>
                @if(brand.Image == null || brand.Image == ""){
                <span class='fNote' id='status_@brand.BrandID'>可以上传LOGO</span>
                }else{
                <img src="/images/logo/@brand.Image" title="@brand.Name"/>
                }
            </td>
            <td>
                <a href="#">修改</a>
                <a href="javascript:;" onclick="javascript:upload_image(this);" id="upload_@brand.BrandID">上传LOGO</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="brand_new_dialog" class="ui-widget dlg_comm" title="新建品牌">
    <p class="validateTips">品牌的名称已经存在</p>
    <fieldset>
        <label for="brandname">请输入品牌名称(中文)</label>
        <input type="text" id="brandname" />
        <span class="err_tip" id="err_for_brandname">品牌的名称不能为空</span>
        <label for="brandname_en">请输入品牌的名称(英文)</label>
        <input type="text" id="brandname_en" />
        <label for="description">品牌说明</label>
        <input type="text" id="description" />
        <span class="err_tip" id="err_for_description"></span>
        <label for="brandurl">链接</label>
        <input type="text" id="brandurl" />
    </fieldset>
</div>
