@using Solemart.DataProvider.Entity;
@model Solemart.BusinessLib.Cart

@{
    ViewBag.Title = "结账 —— 叟玛特";
    SendAddressInfo MyAddrInfo = ViewData["address"] as SendAddressInfo;
}


<div class="cart_content">
    <div class="cart_head">
        <div class="comm_btn l">
            <a href="/Cart">返回购物车</a>
        </div>
    </div>

    <table class="cart">
        <caption class="cart_caption">订单的商品:</caption>
        <thead>
            <tr>
                <th>商品名称</th>
                <th>单价(￥)</th>
                <th>数量</th>
                <th>总价(￥)</th>
            </tr>
        </thead>

        <tbody>
            @foreach (ProductItem pi in Model.Products) {
            <tr>
                <td>
                    <h3>@pi.Product.Name</h3>
                </td>
                <td>@((pi.Product.SalePrice*pi.Product.Discount/100).ToString("C2"))</td>
                <td>@pi.Amount @pi.Product.Unit</td>
                <td>@((pi.Product.SalePrice*pi.Product.Discount/100*pi.Amount).ToString("C2"))</td>
            </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4">
                    <label for="order_remark" title="对产品的要求可以写在上面">备注:</label>
                    <input id="order_remark" type="text" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <span>货品总价 @Model.TotalPrice.ToString("C2")</span>
                    <span>运输费用 ￥0.00</span>
                    <span>总计: @Model.TotalPrice.ToString("C2")</span>
                </td>
            </tr>
        </tfoot>
    </table>
    <form method="post">
        <div class="sendinfo">
            <div class="info_head">
                <span class="info_caption">收货信息:</span>
                <button type="button" id="save_send_info" onclick="javascript:save_info();" class="comm_btn" value="保存送货信息"></button>
                <span class="err_tip" id="err_for_noinfo">请填写下面的送货信息</span>
            </div>
            <ul>
                <li>
                    <span class="sendinfo_caption">送货地址:</span>
                    <span id="sendinfo1_content">
                        <span>@(MyAddrInfo!=null?MyAddrInfo.Receiver:"")</span>&nbsp;
                        <span>@(MyAddrInfo!=null?MyAddrInfo.Address:"")</span>&nbsp;
                        <span>@(MyAddrInfo!=null?MyAddrInfo.Post:"")</span>&nbsp;
                        <span>@(MyAddrInfo!=null?MyAddrInfo.Phone1:"")</span>
                    </span>
                    <ul id="sendinfo1_input">
                        <li>
                            <label for="receiver">收货人:</label>
                            <input type="text" id="receiver" name="receiver" value="@((MyAddrInfo!=null||MyAddrInfo.Receiver==null)?MyAddrInfo.Receiver:"")" />
                            <span class="err_tip" id="err_for_receiver">收货人姓名不能为空</span>
                        </li>
                        <li>
                            <label for="address">收货地址:</label>
                            <input type="text" id="address" name="address" value="@((MyAddrInfo!=null&&MyAddrInfo.Address!=null&&MyAddrInfo.Address!="")?MyAddrInfo.Address:"罗源县")" />
                            <span class="err_tip" id="err_for_address">收货人地址不合法，目前只能送达罗源城关区域</span>
                        </li>
                        <li>
                            <label for="phone">手机联系:</label>
                            <input type="text" id="phone" name="phone" value="@(MyAddrInfo != null?MyAddrInfo.Phone1:"")" />
                            <span class="err_tip" id="err_for_phone">收货人电话号码不合法</span>
                        </li>
                    </ul>
                </li>
                <li><span class="sendinfo_caption">送货方式:</span> 送货上门</li>
                <li>
                    <span class="sendinfo_caption">付款方式: </span>
                    <span id="sendinfo1_content_paytype">@MyAddrInfo.Pay.GetEnumDisplay()</span>
                    <select id="sendinfo1_paytype">
                        <option value="0" @((MyAddrInfo.Pay== PayType.CashOnDelivery)?"selected":"")>货到付款</option>
                        <option value="1" @((MyAddrInfo.Pay!= PayType.CashOnDelivery)?"selected":"")>支付宝支付</option>
                    </select>
                </li>
            </ul>
        </div>
    </form>
    <div>
        <div class="comm_btn r">
            <a href="javascript:void(0);" onclick="javascript:submitorder();">提交订单</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        @if (MyAddrInfo != null && MyAddrInfo.Receiver != null && MyAddrInfo.Receiver != "") {
            <text>
        $("#sendinfo1_input").css("display", "none");
            $("#sendinfo1_paytype").css("display", "none");
            $("#save_send_info").html("修改");
            </text>
        } else {
            <text>
        $("#sendinfo1_content").css("display", "none");
            $("#sendinfo1_content_paytype").css("display", "none");
            $("#save_send_info").html("填写送货信息");
            </text>
        }
    });

    $(function () {
        $("#sendinfo1_input input[type=text]").focusin(function () {
            $(this).next().css("visibility", "hidden");
            $("#err_for_noinfo").css("visibility", "hidden");
        });

        $("#receiver").focusout(function () {
            if ($.trim($("#receiver").val()) == "")
                $("#err_for_receiver").css('visibility', 'visible');
        });

        $("#address").focusout(function () {
            if ($("#address").val().indexOf("罗源县") == -1)
                $("#err_for_address").css("visibility", "visible");
        });

        $("#phone").focusout(function () {
            if (!validatePhone($("#phone").val()))
                $("#err_for_phone").css("visibility", "visible");
        });
    });

    function submitorder() {
        if ($("#sendinfo1_input").css("display") != "none") {
            $("#err_for_noinfo").css("visibility", "visible");
            return false;
        }

        $.post("/Cart/CheckoutOrder",
            {
                remark: $("#order_remark").val(),
                paytype: $("#paytype").val()
            },
            function (result) {
                if (result.substring(0, 2) == "ok") {
                    if (result.indexOf("ok-alipay-") != -1) {
                        document.write(result.substring(10, result.length));
                    }
                    else {
                        window.location.href = "/Cart/CheckOutCompleted/" + result.substring(3, result.length);
                    }
                }
                else {
                    alert("error");
                }
            }
        );
    }

    function save_info() {
        if ($("#save_send_info").html() == "填写送货信息") {
            var is_validate = true;
            if ($.trim($("#receiver").val()) == "") {
                $("#err_for_receiver").css('visibility', 'visible');
                is_validate = false;
            }
            if ($("#address").val().indexOf("罗源县") == -1) {
                $("#err_for_address").css("visibility", "visible");
                is_validate = false;
            }
            if (!validatePhone($("#phone").val())) {
                $("#err_for_phone").css("visibility", "visible");
                is_validate = false;
            }

            if (!is_validate) {
                return false;
            }

            $.post("/Cart/SaveAddrInfo",
                {
                    receiver: $("#receiver").val(),
                    address: $("#address").val(),
                    post: $("#post").val(),
                    phone: $("#phone").val(),
                    paytype: $("#sendinfo1_paytype").val()
                },
                function (result) {
                    if (result == "ok")
                        window.location.reload();
                    else if (result != "error")
                        window.location.href = result;
                });
        }
        else {  /* 是修改的情况 */
            $("#sendinfo1_input").css("display", "block");
            $("#sendinfo1_paytype").css("display", "inline");
            $("#sendinfo1_content_paytype").css("display", "none");
            $("#save_send_info").html("填写送货信息");
        }
    }
</script>