@using Solemart.DataProvider.Entity;
@using Solemart.BusinessLib;
@using Solemart.SystemUtil;
@model Solemart.BusinessLib.Cart

@{
    SendAddressItem MyAddrInfo = (User as SolemartUser).SendAddressInfo;
}

<div class="cart_content">
    <div class="cart_head">
        <div class="comm_btn l">
            <a href="/Cart">返回购物车</a>
        </div>
    </div>

    <table class="cart">
        <caption class="cart_caption">订单的商品:</caption>
        <thead>
            <tr>
                <th>商品名称</th>
                <th>单价(￥)</th>
                <th>数量</th>
                <th>总价(￥)</th>
            </tr>
        </thead>

        <tbody>
            @foreach (CartItem item in Model.CartItems) {
            <tr>
                <td>
                    <h3>@item.Product.ProductName</h3>
                </td>
                <td>@(item.UnitPrice.ToString("C2"))</td>
                <td>@item.Amount @item.Product.Unit</td>
                <td>@((item.UnitPrice*item.Amount).ToString("C2"))</td>
            </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4">
                    <label for="order_remark" title="对产品的要求可以写在上面">备注:</label>
                    <input id="order_remark" type="text" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <span>货品总价 @Model.TotalPrice.ToString("C2")</span>
                    <span>运输费用 ￥0.00</span>
                    <span>总计: @Model.TotalPrice.ToString("C2")</span>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="sendinfo">
        <div class="info_head">
            <span class="caption">收货信息:</span>
            <a href="javascript:void;" id="modifyAddress">修改</a>
            <span class="err_tip" id="err_for_noinfo">请填写下面的送货信息</span>
        </div>
        <ul>
            <li>
                <span class="subCaption">送货地址:</span>
                <span id="addressContent">
                    <span>@(MyAddrInfo!=null?MyAddrInfo.Receiver:"")</span>&nbsp;
                    <span>@(MyAddrInfo!=null?MyAddrInfo.Address:"")</span>&nbsp;
                    <span>@(MyAddrInfo!=null?MyAddrInfo.PostCode:"")</span>&nbsp;
                    <span>@(MyAddrInfo!=null?MyAddrInfo.Phone:"")</span>
                </span>
                <ul id="addressInput">
                    <li>
                        <label for="receiver">收货人:</label>
                        <input type="text" id="receiver" name="receiver" value="@((MyAddrInfo!=null||MyAddrInfo.Receiver==null)?MyAddrInfo.Receiver:"")" />
                        <span class="err_tip" id="err_for_receiver">收货人姓名不能为空</span>
                    </li>
                    <li>
                        <label for="address">收货地址:</label>
                        <input type="text" id="address" name="address" value="@((MyAddrInfo!=null&&MyAddrInfo.Address!=null&&MyAddrInfo.Address!="")?MyAddrInfo.Address:"罗源县")" />
                        <span class="err_tip" id="err_for_address">收货人地址不合法，目前只能送达罗源城关区域</span>
                    </li>
                    <li>
                        <label for="phone">手机联系:</label>
                        <input type="text" id="phone" name="phone" value="@(MyAddrInfo != null?MyAddrInfo.Phone:"")" />
                        <span class="err_tip" id="err_for_phone">收货人电话号码不合法</span>
                    </li>
                </ul>
            </li>
            <li><span class="subCaption">送货方式:</span> 送货上门</li>
            <li>
                <span class="subCaption">付款方式: </span>
                <span id="sendinfo1_content_paytype">@MyAddrInfo.PaymentType.ToDisplayStr()</span>
                <select id="sendinfo1_paytype">
                    <option value="0" selected>货到付款</option>
                    @*<option value="1" @((MyAddrInfo.PaymentType!= PaymentType.CashOnDelivery)?"selected":"")>支付宝支付</option>*@
                </select>
            </li>
        </ul>
    </div>
    <div>
        <div class="comm_btn r">
            <a href="javascript:void(0);" class="comm_btn" onclick="javascript:submitorder();">提交订单</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        @if (MyAddrInfo != null && MyAddrInfo.Receiver != null && MyAddrInfo.Receiver != "") {
            <text>
            $("#addressInput").hide();
            $("#sendinfo1_paytype").hide();
            </text>
        } else {
            <text>
            $("#addressContent").hide();
            $("#sendinfo1_content_paytype").css("display", "none");
            $("#modifyAddress").css("display", "none");
            </text>
        }
    });

    $(function () {
        $("#sendinfo1_input input[type=text]").focusin(function () {
            $(this).next().css("visibility", "hidden");
            $("#err_for_noinfo").css("visibility", "hidden");
        });

        $("#receiver").focusout(function () {
            if ($.trim($("#receiver").val()) == "")
                $("#err_for_receiver").css('visibility', 'visible');
        });

        $("#address").focusout(function () {
            if ($("#address").val().indexOf("罗源县") == -1)
                $("#err_for_address").css("visibility", "visible");
        });

        $("#phone").focusout(function () {
            if (!Validator.ValidatePhone($("#phone").val()))
                $("#err_for_phone").css("visibility", "visible");
        });

        $('#modifyAddress').bind("click", function () {
            $("#addressContent").hide();
            $("#addressInput").show();
            $("#modifyAddress").hide();
        });
    });

    function isCompleteAddress() {
        var is_validate = true;
        if ($.trim($("#receiver").val()) == "") {
            $("#err_for_receiver").show();
            is_validate = false;
        }
        if ($("#address").val().indexOf("罗源县") == -1) {
            $("#err_for_address").show();
            is_validate = false;
        }
        if (!Validator.ValidatePhone($("#phone").val())) {
            $("#err_for_phone").show();
            is_validate = false;
        }

        return is_validate;
    }

    function submitorder() {
        if (!isCompleteAddress()) {
            $("#err_for_noinfo").css("visibility", "visible");
            return false;
        }

        $.post("/Cart/CheckoutOrder",
            {
                Receiver: $("#receiver").val(),
                Address: $("#address").val(),
                PostCode: $("#post").val(),
                Phone: $("#phone").val(),
                PaymentType: $("#sendinfo1_paytype").val(),
                remark: $("#order_remark").val(),
                paytype: $("#paytype").val()
            },
            function (result) {
                var ret = new WebReturn(result);
                if (ret.success) {
                    window.location.href = "/Cart/CheckOutCompleted/" + ret.content;
                }
                else {
                    alert(ret.message);
                }
            }
        );
    }
</script>