@using Solemart.DataProvider.Entity;
@using Solemart.BusinessLib;
@model Cart

@{
    ViewBag.Title = "购物车 —— 乐道";
}

<div class="cartWrapper">
    <div class="cartHead">
        <p>您已选购下面水果：</p>
    </div>
    <div class="cartContent">
    @if (Model.CartItems.Count > 0)
    {
        foreach (CartItem cartItem in Model.CartItems)
        {
        <div class="cartItem">
            <img class="imgthumb" src="/images/product/thumb/@(ProductManager.GetProductLogoImage(cartItem.ProductID).ImageUrl)" />
            <div class="cartTitle">
                <p>@cartItem.Product.ProductName</p>
                <p><span>单价：@(cartItem.UnitPrice.ToString("C2"))</span></p>
            </div>
            <div class="cartOper" data-pid="@cartItem.ProductID">
                <div data-pid="@cartItem.ProductID">
                    <a href="javascript:void;" data-action="add" class="addSubButton">+</a>
                    <input type="text" class="prodamount" value="@cartItem.Amount" />
                    <a href="javascript:void;" data-action="sub" class="addSubButton">-</a>
                    <a href="javascript:void" data-action="confirm" class="confirmLink">确认</a>
                </div>
                <p class="cartEachPrice">小计：@((cartItem.UnitPrice * cartItem.Amount).ToString("C2"))</p>
            </div>
        </div>
        }
    }
    else{
        <p>没有商品 :(</p>
    }            
    </div>
    <div class="cartPrice">
        <p>
            <div class="priceTitle">商品总价：</div>
            <div class="priceAmount" id="totalProductAmount">@Model.TotalPrice.ToString("C2")</div>
        </p>
        <p>
            <div class="priceTitle">运输费用：</div>
            <div class="priceAmount">￥0.00</div>
        </p>
        <p>
            <div class="priceTitle">总　　计：</div>
            <div class="priceAmount" id="totalAmount">@Model.TotalPrice.ToString("C2")</div>
        </p>
    </div>
    <div class="cartFoot">
    </div>
</div>

<div class="appNav">
    <div class="wrapper">
        <div class="appLink">
            <a href="/" title="返回继续购物" class="commonNavLink backNav">&lt;</a>
        </div>
        <div class="appLink">
            <a href="javascript:void(0);" title="提交订单" onclick="checkout(this);" class="commonNavLink normalNav">提交订单</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    function updateUI(cartResult, tr) {
        var ret = JSON.parse(cartResult);
        tr.children(".cartEachPrice").html(ret.TheAmount);
        $("#totalProductAmount").html(ret.TotalAmount);
        $("#totalAmount").html(ret.TotalAmount);
        tr.find("input").val(ret.TheCount);
    }

    $(function () {
        $(".cartOper a.confirmLink").hide();

        $(".cartOper").bind("click", "a", function (e) {
            e.preventDefault();
            var tr = $(this);
            var input = tr.find(".prodamount");
            var pid = tr.data("pid");
            var count = window.parseInt(input.val());
            var action = $(e.target).data("action");
            if( action == "add"){
                $.post("/Cart/Add/" + pid,
                    {},
                    function (result) {
                        var ret = new WebReturn(result);
                        if (!ret.success)
                            alert(ret.message);
                        else {
                            updateUI(ret.content, tr);
                            //input.val(1+count);
                        }
                    });
            }
            else if(count == 0)
                return;
            else if(action == "sub"){
                $.post("/Cart/Modify/" + pid,
                    {
                        amount:count-1
                    },
                    function (result) {
                        var ret = new WebReturn(result);
                        if (!ret.success)
                            alert(ret.message);
                        else {
                            updateUI(ret.content, tr);
                            //input.val(count-1);
                            //updateShoppingCartIndicator(ret.content);
                        }
                    });
            }
            else if(action == "confirm"){
                var amount = parseFloat(input.val());
                $.post("/Cart/Modify/" + pid,
                    {
                        'amount': amount
                    },
                    function (result) {
                        var ret = new WebReturn(result);
                        if (!ret.success)
                            alert(ret.message);
                        else{
                            updateUI(ret.content, tr);
                        }
                        tr.find("a.addSubButton").show();
                        tr.find("a.confirmLink").hide();
                    });
            }
        });

        $(".cartOper input.prodamount").on("focus", function (e) {
            var tr = $(this).parent();
            tr.children("a.confirmLink").show();
            tr.children("a.addSubButton").hide();
        });


        //$("input.prodamount").focusout(function (e) {
        //    e.preventDefault();
        //    var amnt = parseFloat($(this).val());
        //    var prod_id = $(this).parent().data("pid");
        //    if (amnt < 0) {
        //        alert("数量不能小于0，等于0是删除该商品");
        //        return;
        //    }

        //    $.post("/Cart/Modify/" + prod_id,
        //        {
        //            amount: amnt
        //        },
        //        function (result) {
        //            var webreturn = new WebReturn(result);

        //            if (webreturn.success)
        //                window.location.reload();
        //            else
        //                alert(webreturn.message);
        //        });
        //});
    });

    function checkout(link) {
        if ($(".cartItem").size() == 0) {
            alert("购物车中没有物品");
            return;
        }
        window.location.href = "/Cart/CheckOut";
    }
</script>