@using Solemart.DataProvider.Entity;
@using Solemart.BusinessLib;
@model Cart

@{
    ViewBag.Title = "购物车 —— 乐道";
}

<div class="cart_content">
    <div class="cart_head">
        <h3>您的购物车中有 @Model.CartItems.Count 件物品:</h3>
        <div class="comm_btn l"><a href="/">继续购物</a></div>
        @if(Model.CartItems.Count>0){
            <div class="comm_btn r"><a href="javascript:void(0);" onclick="javascript:checkout(this);">下单</a></div>
        }
    </div>

    <table class="cart">
        <caption class="cart_caption">当前购物车中的货品:</caption>
        <thead>
            <tr>
                <th>货品</th>
                <th>单价(￥)</th>
                <th>数量</th>
                <th>总价(￥)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CartItems.Count > 0) {                
                foreach (CartItem cartItem in Model.CartItems) {
                <tr>
                    <td>
                        @*<img class="prodimg" src="/images/product/no-img.png" />*@
                        <h3>@cartItem.Product.ProductName</h3>
                    </td>
                    <td>@(cartItem.UnitPrice.ToString("C2"))</td>
                    <td data-pid="@cartItem.ProductID">
                        <a href="javascript:void;" data-action="add" class="addSubButton">+</a>
                        <input type="text" class="prodamount" value="@cartItem.Amount" />
                        <a href="javascript:void;" data-action="sub" class="addSubButton">-</a>
                    </td>
                    <td>@((cartItem.UnitPrice * cartItem.Amount).ToString("C2"))</td>
                </tr>
                }
            } else {
                <tr>
                    <td colspan="4">没有商品</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">货品总价</td>
                <td>@Model.TotalPrice.ToString("C2")</td>
            </tr>
            <tr>
                <td colspan="3">运输费用</td>
                <td>￥0.00</td>
            </tr>
            <tr>
                <td colspan="3">总计:</td>
                <td>@Model.TotalPrice.ToString("C2")</td>
            </tr>
        </tfoot>
    </table>

    <div class="cart_foot">
    </div>
</div>

<script type="text/javascript">
    function updateUI(cartResult, tr) {
        var ret = JSON.parse(cartResult);
        tr.next().html(ret.TheAmount);
        $("tfoot tr:first td:last").html(ret.TotalAmount);
        $("tfoot tr:last td:last").html(ret.TotalAmount);
        tr.children("input").val(ret.TheCount);
    }

    $(function () {
        $(".cart td").bind("click", "a", function (e) {
            e.preventDefault();
            var tr = $(this);
            var input = tr.children("input");
            var pid = tr.data("pid");
            var count = window.parseInt(input.val());
            var action = $(e.target).data("action");
            if( action == "add"){
                $.post("/Cart/Add/" + pid,
                    {},
                    function (result) {
                        var ret = new WebReturn(result);
                        if (!ret.success)
                            alert(ret.message);
                        else {
                            updateUI(ret.content, tr);
                            //input.val(1+count);
                        }
                    });
            }
            else if(count == 0)
                return;
            else if(action == "sub"){
                $.post("/Cart/Modify/" + pid,
                    {
                        amount:count-1
                    },
                    function (result) {
                        var ret = new WebReturn(result);
                        if (!ret.success)
                            alert(ret.message);
                        else {
                            updateUI(ret.content, tr);
                            //input.val(count-1);
                            //updateShoppingCartIndicator(ret.content);
                        }
                    });
            }
        });

        $("input.prodamount").focusout(function (e) {
            e.preventDefault();
            var amnt = parseFloat($(this).val());
            var prod_id = $(this).parent().data("pid");
            if (amnt < 0) {
                alert("数量不能小于0，等于0是删除该商品");
                return;
            }

            $.post("/Cart/Modify/" + prod_id,
                {
                    amount: amnt
                },
                function (result) {
                    var webreturn = new WebReturn(result);

                    if (webreturn.success)
                        window.location.reload();
                    else
                        alert(webreturn.message);
                });
        });
    });

    function checkout(link) {
        if ($("table.cart tbody td").size() == 0) {
            alert("购物车中没有物品");
            return;
        }
        window.location.href = "/Cart/CheckOut";
    }
</script>