@using Xxx.EntityLib;
@model List<BrandInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

@section header_style_manager{
    <link rel="stylesheet" href="/Content/jquery-ui-1.10.3.custom.min.css" />
}

@section header_script_manager{
    <script type="text/javascript" src="/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/Scripts/ajaxupload.3.5.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#brand_new_dialog").dialog({
                autoOpen: false,
                height: 300,
                width: 400,
                modal: true,

                create: function (event, ui) {
                    var widget = $(this).dialog("widget");
                    $(".ui-dialog-titlebar-close span", widget)
                        .removeClass("ui-icon-closethick")
                        .addClass("myclosethick");
                },

                buttons: {
                    '确定': function () {
                        var isvalid = true;
                        if ($.trim($("#brandname").val()) == "")
                            isvalid = false;

                        if (isvalid) {
                            $.post("/Manager/Brand/Create",
                                {
                                    name: $("#brandname").val(),
                                    enname: $("#brandname_en").val(),
                                    desc: $('#description').val(),
                                    url: $("#brandurl").val()
                                },
                                function (result) {
                                    if (result.indexOf("error") != -1) {
                                        $("#brand_new_dialog p.validateTips").css("display", "block");
                                    }
                                    else {
                                        $("#brand_new_dialog").dialog("close");
                                        window.location.reload();
                                    }
                                });
                        }

                        $("#brand_new_dialog input[type=text]").val("");
                    },

                    '取消': function () {
                        $("#brand_new_dialog").dialog("close");
                    }
                }
            });

            $("table td a[id^=upload_]").each(function (index, dom) {
                var btnUpload = $(this);

                var bid = dom.id.substring(this.id.indexOf('_') + 1, this.id.length);
                var status = $('#status_' + bid);
                new AjaxUpload(btnUpload, {
                    action: '/Manager/Brand/UpdateLogo',
                    name: 'uploadfile',
                    onSubmit: function (file, ext) {
                        if (!(ext && /^(jpg|png|jpeg|gif)$/.test(ext))) {
                            // extension is not allowed 
                            status.text('Only JPG, PNG or GIF files are allowed');
                            return false;
                        }
                        this.setData({"id": bid});
                        status.text('Uploading...');
                    },
                    onComplete: function (file, response) {
                        //On completion clear the status
                        status.text('');
                        //Add uploaded file to list
                        if (response.substring(0, 3) == "ok-") {
                            status.parent().html("<img src='/Images/logo/" + response.substring(3, response.length) + "' />");
                        } else {
                            status.text(response);
                        }
                    }
                });
            });


        });
        
        function new_brand(){
            $("#brand_new_dialog").dialog("open");
        }
    </script>
}

<h1>查看品牌列表:</h1>
<p class="search_area">
    <input type="text" id="brand_name" />
    <input type="button" class="comm_btn" id="dosearch" value="搜索" />
</p>
<section>
    <button class="comm_btn" onclick="javascript:new_brand()" >新建</button>
</section>
<div class="pager"></div>
<table class="m">
    <thead>
        <tr>
            <th style="width:20px">ID</th>
            <th style="width:100px">名称(中)</th>
            <th style="width:100px">名称(英)</th>
            <th style="width:200px;">说明</th>
            <th style="width:120px;">图片</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BrandInfo brand in Model) {
        <tr>
            <td>@brand.BrandID</td>
            <td>@brand.Name</td>
            <td>@brand.EnName</td>
            <td>@brand.Description</td>
            <td>
                @if(brand.Image == null || brand.Image == ""){
                <span class='fNote' id='status_@brand.BrandID'>可以上传LOGO</span>
                }else{
                <img src="/images/logo/@brand.Image" title="@brand.Name"/>
                }
            </td>
            <td>
                <a href="#">修改</a>
                <a href="javascript:;" onclick="javascript:upload_image(this);" id="upload_@brand.BrandID">上传LOGO</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="brand_new_dialog" class="ui-widget dlg_comm" title="新建品牌">
    <p class="validateTips">品牌的名称已经存在</p>
    <fieldset>
        <label for="brandname">请输入品牌名称(中文)</label>
        <input type="text" id="brandname" />
        <span class="err_tip" id="err_for_brandname">品牌的名称不能为空</span>
        <label for="brandname_en">请输入品牌的名称(英文)</label>
        <input type="text" id="brandname_en" />
        <label for="description">品牌说明</label>
        <input type="text" id="description" />
        <span class="err_tip" id="err_for_description"></span>
        <label for="brandurl">链接</label>
        <input type="text" id="brandurl" />
    </fieldset>
</div>
