@using Solemart.BusinessLib;

@{
    SolemartUser CurrentUser = HttpContext.Current.User as SolemartUser;
}
<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title == null ? "叟玛特" : ViewBag.Title)</title>
    <link rel="stylesheet" href="/Content/style.css" />
    <link rel="stylesheet" href="/Content/header.css" />
    @RenderSection("header_style", false);
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/commonutil.js"></script>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101023556" data-redirecturi="http://www.solemart.com/Home/Login" charset="utf-8"></script>
    <script type="text/javascript">
        function search_product() {
            var key = $("#txtSearch").val();
            window.location.href = "/Home/Search/" + window.encodeURI(key);
        }

        function logout() {
            @if(CurrentUser.IsLoginQQ){
                <text>
                QC.Login.signOut();
                </text>
            }
            $.post("/Home/Logout",
                {},
                function (result) {
                    window.location.reload();
                });
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="g-actions">
            <ul id="help-actions">
                <li>
                    <strong>[12/7]客服18065911899</strong>
                </li>
                <li>
                    <a href="/Help">帮助和建议</a>
                </li>
            </ul>
            <ul id="account-actions">
                @if (CurrentUser.Identity.IsAuthenticated && CurrentUser.UserName != SolemartUser.Anonymous.UserName)
                {
                    <li>
                        <a href="javascript:void;" onclick="javascript:logout();">注销</a>
                    </li>
                    <li>
                        <a href="/Account/Favorite">收藏</a>
                    </li>
                    <li>
                        <a href="/Account/Order">订单</a>
                    </li>
                    <li>
                        <a href="/Cart">购物车</a>
                    </li>
                    <li>
                        欢迎:@CurrentUser.UserName
                        <a href="/Account">我的帐户</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Home/Login">登录或注册新帐号</a>
                    </li>
                }

                @if (CurrentUser.Identity.IsAuthenticated
                    && (HttpContext.Current.User.IsInRole("su") || HttpContext.Current.User.IsInRole("operator")))
                {
                    <li>
                        <a href="/Manager/Product">管理</a>
                    </li>
                }
            </ul>
        </div>
        <!--
        <div class="header-bar">
            <div id="logo-area">
                <a href="/">
                    <img class="logo_img" src="/Images/logo.png" />
                </a>
            </div>
            <div id="advise-area">
                <p>罗源本地网购</p>
                <p>&nbsp;&nbsp;同城送货上门</p>
            </div>
            <div id="search-nav">
                <div class="search">
                    <input type="text" placeholder="产品名称，类别等" id="txtSearch" value='@ViewData["SearchKey"]' />
                    <input type="button" class="comm_btn" onclick="javascript: search_product();" title="search" value="搜索" />
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/Product" title="销售产品的分类列表">产品</a></li>
                        <li><a href="/Acknowledge/EBooks" title="可获得的资源，包括各个方面知识">资源</a></li>
                        <li><a href="/Help/About" title="公司的简介">公司</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <div id="main">
        @RenderBody()
    </div>
    <footer>
        <h3>用心&nbsp;&nbsp;专业</h3>
        <p>Copyright&copy; 2014 www.solemart.com All Rights Reserved</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
