@using Solemart.DataProvider.Entity;
@using Solemart.SystemUtil;

@model Solemart.Web.Models.OrderListViewModel

<div id="orderlist">
    <div>
        @Html.Partial("_Pager")
    </div>
    <div>
        <ul>
            @foreach (OrderItem oi in Model.OrderList) {
            <li id="orderinfo_@oi.OrderID">
                <div class="orderinfo_head">
                    <span class="order_subhead">订单号:</span><span>@oi.OrderID.ToString("000000")</span>
                    <span class="order_subhead">下单时间:</span> <span>@oi.OrderTime.ToLongDateString()</span>
                    <p class="r">
                        <a href="javascript:;" class="comm_btn" onclick="javascript:expand_order(@oi.OrderID, this);">查看订单的产品列表</a>
                    </p>
                    @if(oi.Status == OrderStatus.Ordered){
                    <p class="r">
                        <a href="javascript:;" class="comm_btn" onclick="javascript:cancel_order(@oi.OrderID, this);">取消</a>
                    </p>
                    }
                    @if(oi.Status == OrderStatus.Sending){
                    <p class="r">
                        <a href="javascript:;" class="comm_btn" onclick="javascript:confirm_order(@oi.OrderID, this);">确认收货</a>
                    </p>
                    }
                </div>
                <div class="orderinfo_conent">
                    <p>
                        <span class="order_subhead">总价:</span>
                        <span>@oi.TotalPrice.ToString("C2")</span>
                    </p>
                    <p>
                        <span class="order_subhead">订单状态:</span>
                        <span id="order_state_@oi.OrderID">@oi.Status.ToDisplayStr()</span>
                    </p>
                    <p class="block">
                        <span class="order_subhead">付款方式:</span>
                        <span>@oi.PaymentType.ToDisplayStr()</span>
                    </p>
                    <p class="block">
                        <span class="order_subhead">付款状态:</span>
                        <span id="pay_status_@oi.OrderID">@(oi.HasPay?"已付款":"未付款")</span>
                    </p>
                </div>
            </li>
            }
        </ul>
    </div>
    <div>
        @Html.Partial("_Pager")
    </div>
</div>

<script type="text/javascript">
    function createtable(oitems) {
        var oitems = eval(oitems);
        var th = "<table class='m'><thead><tr><td>商品名称</td><td>单价(￥)</td><td>数量</td><td>总价</td></tr></thead>"
        var tbody = "<tbody>";
        for (var i = 0; i < oitems.length; ++i) {
            tbody += "<tr><td><a href='/Product/Detail/" + oitems[i].Product.ProductID + "' title='" + oitems[i].Product.Name + "' target='_blank'>"
                + oitems[i].Product.Name + "</a></td><td>" + oitems[i].UnitPrice + "</td><td>" + oitems[i].Amount + "</td><td>" + oitems[i].UnitPrice * oitems[i].Amount + "</td></tr>";
        }
        tbody += "</tbody>";

        return th + tbody;
    }

    /*
    查看订单的商品信息
    */
    function expand_order(oid, btn) {
        $.post("/Account/OrderDetail/" + oid, {},
            function (result) {
                if (result != "error") {
                    var otb = createtable(result);
                    $("#orderinfo_" + oid + " .orderinfo_conent").append(otb);
                    $(btn).remove();
                }
            });
    }

    /*
    用户确认订单，在用户收到商品后确认没有问题，就确认订单
    */
    function confirm_order(oid, btn) {
        $.post("/Account/ConfirmOrder/" + oid, {},
            function (result) {
                if (result == "ok") {
                    $("#order_state_" + oid).html("已收货");
                    $("#pay_status_" + oid).html("已付款");
                    $(btn).remove();
                }
                else
                    alert(result);
            });
    }

    /*
    用户取消订单，只有订单还没发货前可以取消
    */
    function cancel_order(oid, btn) {
        if (!window.confirm("确定取消订单? \r\n取消后，该订单不再生效，我们不会派送您订购的商品")) {
            return false;
        }

        $.post("/Account/CancelOrder/" + oid, {},
            function (result) {
                if (result == "ok") {
                    $("#order_state_" + oid).html("已取消");
                    $("#orderinfo_" + oid).addClass("cancel");
                    $("#orderinfo_" + oid).removeClass("unsend");
                    $(btn).remove();
                }
                else
                    alert(result);
            });
    }
</script>